// colors
$background_light:#f5f5f5;

$white: #ffffff;

$dark_blue: #11161c;
$text_blue: #29394d;
$blue_700: #29394d;
$blue_400: #0066cc;
$blue_300: #2261ae;

$cyan_400: #008ace;

$gray_100 : #c2cddc;